@import '../../utils/Mixin.scss';
@import '../../utils/Placeholder.scss';

.InitialConfig__modal {
   width: 450px;
   height: 250px;
   text-align: center;
   background-color: var(--white-color);
   border-radius: 20px 20px 20px 20px;
   h2 {
      padding:60px 0 0 0;
      font-family: var(--font-title);
      font-size: var(--font-small);
   }
   button {
      margin: 80px 0 0 0;
      @include btn(150px, 50px, --font-small);
   }
}