// @import './Placeholder.scss';
@mixin size($width, $height) {
   width: $width;
   height: $height;
}
@mixin icon-arrow($position, $top, $right, $size-border, $color, $deg) {
   content: '';
   position: $position;
   top: $top;
   right: $right;
   border: $size-border solid transparent;
   border-bottom-color:$color;
   transform: rotate($deg);
   cursor: pointer;
   @include size(0, 0);
}
@mixin btn($width, $height, $font-size) {
   width: $width;
   height: $height;
   font-size: var($font-size);
   color: var(--white-color);
   background-color: var(--secundary-color);
   border-radius: 5px;
   @extend %reset-btn;
}
