/* Customize the label (the container) */
.radio {
   display: block;
   position: relative;
   padding-left: 35px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom radio button */
.radiomark {
   position: absolute;
   top: -2px;
   left: 0;
   height: 20px;
   width: 20px;
   border: 1px solid var(--secundary-color);
   border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .radiomark {
   background-color: rgba(3, 36, 35, .1)
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .radiomark {
   background-color: var(--secundary-color);;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
   content: '';
   position: absolute;
   display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radiomark:after {
   display: block;
}

/* Style the indicator (dot/circle) */
.radio .radiomark:after {
   top: 5px;
   left: 5px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}