/*Variables-----Variables*/

:root {
   /*Color*/
   --main-color: #049ECA;
   --secundary-color: #03242D;
   --detail-color: #B5EBFA;

   /*Colors:selection*/
   --selection-color: #007EA3;

   /*Fonts*/
   --font-title: 'Oswald', Helvetica;
   --font-text: 'Lato', Helvetica;
}