@import '../utils/Mixin.scss';

.Header {
   display: flex;
   justify-content: center;
   font-family: var(--font-text);
   font-size: var(--font-smaller);
   box-shadow: 10px 18px 20px -15px rgba(3, 36, 35, .25);
   @include size(100%, 100px);
}
.Header__container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   @include size(100%, 100%);
   & > a {
      margin-right: 70px;
      text-decoration: none;
   }
   a:hover {
      color: var(--main-color);
   }
}
.Header__user {
   padding-right: 60px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--detail-color);
   border-radius: 100px 0 0 0;
   cursor: pointer;
   @include size(300px, 100%);
   p {
      margin-right: 20px;
   }
   img {
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      @include size(70px, 70px);
   }
}
.Header__menu {
   padding: 0 20px 5px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   position: absolute;
   top: 100px;
   right: 30px;
   font-size: var(--font-smallest);
   background-color: var(--white-color);
   box-shadow: 0 0px 10px 0 rgba(3, 36, 35, .25);
   border-radius: 10px;
   cursor: auto;
   visibility: hidden;
   opacity: 0;
   @include size(220px, 170px);
   &::before {
      content: '';
      position: absolute;
      top: -24px;
      right: 47px;
      border: 12px solid transparent;
      border-bottom-color: rgb(255, 255, 255);
      @include size(0, 0);
  }
   li:nth-of-type(1) {
      @include size(initial, 70px);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-bottom: 1px solid rgba(3, 36, 35, .3);
      p:nth-of-type(1) {
         font-weight: 600;
      }
      p:nth-of-type(3) {
         opacity: .3;
      }
   }
   a {
      display: inline-block;
      text-decoration: none;
      @include size(100%, initial);
   }
   li:hover {
      color: var(--main-color);
   }
}
.Header__user:hover .Header__menu, .Header__menu:hover {
   visibility: visible;
   opacity: 1;
   animation: .5s fadeIn ease;
}
@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}