@import '../utils/Mixin.scss';

.Navbar {
   grid-area: Navbar;
   position: fixed;
   top: 0;
   font-family: var(--font-text);
   @include size(250px, initial);
}
.Navbar__logo {
   background-color: var(--detail-color);
   border-radius: 0 100px 0 0;
   @include size(250px, 300px);
   div {
      display: flex;
      justify-content: center;
      align-items: center;
      @include size(inherit, 150px);
      h1 {
         line-height: 0;
      }
      img {
         width: 100px;
         height: 100px;
      }
   }
}
.Navbar__nav {
   display: flex;
   justify-content: center;
   position: absolute;
   top: 153px;
   background-color: var(--main-color);
   border-radius: 0 100px 0 0;
   @include size(250px, 100vh);
}
.Navbar ul {
   margin-top: 70px;
   @include size(230px, 400px);
   li {
      margin-bottom: 5px;
      border-radius: 5px;
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, .1);
      cursor: pointer;
      @include size(100%, 50px);
      a {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: space-around;
         text-decoration: none;
         &::after {
            content: '';
            border: 9px solid transparent;
            border-bottom-color: rgb(255, 255, 255);
            transform: rotate(90deg);
            @include size(0, 0);
         }
      }
      img {
         width: 30px;
         height: 30px;
         margin-right: 10px;
      }
      p {
         width: 120px;
         display: inline-block;
         color: var(--white-color);
      }
   }
   li:active {
      transform: scale(.98);
   }
}

/*Reglas que interactuan con JS*/
.liHover:hover {
   background-color: var(--hover-color);
}
.isSelect {
   background-color: var(--selection-color);
}

