.Title {
   margin-right: 10px;
   display: flex;
   align-items: center;
   img {
      width: 70px;
      height: 70px;
   }
   h2 {
      margin-left: 20px;
      font-family: var(--font-title);
      font-size: var(--font-big);
      color: var(--secundary-color);
   }
}