@import '../../utils/Mixin.scss';
@import '../../utils/Placeholder.scss';

.SignUp__container {
   display: grid;
   grid-template-columns: 500px 1fr;
   grid-template-areas: "Aside Slide";
}
.SignUp__aside{
   height: 911px;
   position: relative;
   // top: -80px;
   grid-area: Aside;
}
.SignUp__form {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: -153px;
   background-color: var(--main-color);
   border-radius: 0 100px 0 0;
   @include size(500px, 911px);
   form {
      padding: 30px 50px;
      margin: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      background-color: var(--white-color);
      border-radius: 5px 100px 5px 5px;
      @include size(430px, auto);
      i {
         color: red;
      }
      h2 {
         margin: 0 0 30px 0;
         font-family: var(--font-title);
         font-size: var(--font-big);
         text-align: center;
      }
      label {
         width: 100%;
         margin: 20px 0 0 0;
         font-family: var(--font-title);
         font-size: var(--font-small);
         & > input {
            width: 100%;
            height: 40px;
            margin: 5px 0 0 0;
            padding: 0 0 0 5px;
            display: flex;
            border: 1px solid  rgba(3, 36, 35, .25);
            border-radius: 5px;
         }
         select {
            width: 100%;
            height: 40px;
            margin: 5px 0 0 0;
            font-family: var(--font-text);
            font-size: var(--font-small);
         }
      }
      .SignUp__password {
         height: 40px;
         margin: 5px 0 0 0;
         display: flex;
         justify-content: space-between;
         border: 1px solid  rgba(3, 36, 35, .25);
         border-radius: 5px;
         line-height: 0;
         input {
            width: 270px;
            height: 100%;
            padding: 1px 5px;
            margin: 0;
            border: none;
            // outline: none;
         }
         button {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 10px 10px 0 0;
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
            opacity: .5;
            img {
               width: 100%;
               height: 100%;
            }
         }
      }
   }
}
.SignUp__redirect {
   margin: 30px 0 0 0;
   font-family: var(--font-text);
   text-align: center;
   a {
      font-family: var(--font-title);
      font-size: var(--font-small);
      text-decoration: none;
   }
}
.SignUp__buttons {
   width: 100%;
   margin: 50px 0 0 0;
   display: flex;
   justify-content: center;
   button {
      @include btn(150px, 50px, --font-smaller)
   }
}
