@import '../../utils/Mixin.scss';
@import '../../utils/Placeholder.scss';

.ConfirmSendModal {
   width: 400px;
   height: 170px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--white-color);
   border-radius: 20px;
   h2 {
      margin: 40px 0 0 0;
      font-family: var(--font-text);
      font-size: var(--font-small);
   }
   button {
      margin: 40px 0 0 0;
      @include btn(100px, 40px, --font-smallest);
   }
}