@import '../../utils/Mixin.scss';
@import '../../utils/Placeholder.scss';
@import '../../utils/Radio.scss';

.DelegateSuper {
   margin: 120px 0 0 0;
   display: flex;
   justify-content: center;
   font-family: var(--font-text);
   font-size: var(--font-smallest);
}
.DelegateSuper__form {
   width: 60%;
   height: 650px;
   margin: 0 0 100px 0;
   padding: 60px 50px 50px 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px 100px 5px 5px;
   box-shadow: 0 0 30px 0  rgba(3, 36, 35, .25);
   i {
      color: red;
   }
   h3 {
      font-size: var(--font-big);
   }
   form {
      width: 70%;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > label {
         font-family: var(--font-title);
         font-size: var(--font-small);
         input {
            width: 100%;
            height: 40px;
            margin: 10px 0 0 0;
            padding: 0 0 0 5px;
            display: flex;
            border: 1px solid  rgba(3, 36, 35, .25);
            border-radius: 5px;
         }
      }
   }
   div {
      height: 150px;
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p:nth-of-type(1) {
         margin: 0 0 10px 0;
         font-size: var(--font-smaller);
         font-weight: 600;
      }
   }
   button {
      align-self: center;
      @include btn(150px, 50px, --font-small);
   }
}