@import '../utils/Mixin.scss';

.Header {
   display: flex;
   justify-content: center;
   font-family: var(--font-text);
   font-size: var(--font-smaller);
   box-shadow: 10px 18px 20px -15px rgba(3, 36, 35, .25);
   @include size(100%, 80px);
}
.Header__container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   @include size(100%, 100%);
   & > a {
      margin-right: 70px;
      text-decoration: none;
   }
   a:hover {
      color: var(--main-color);
   }
}
.Header__user {
   width: 300px;
   height: 100%;
   border-radius: 100px 0 0 0;
   background-color: var(--detail-color);
}
.Header__user-container {
   padding-right: 60px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--detail-color);
   border-radius: 100px 0 0 0;
   cursor: pointer;
   @include size(300px, 100%);
   & > p {
      width: 130px;
      margin-right: 20px;
      display: block;
      text-align: center;
   }
   img {
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      @include size(60px, 60px);
   }
}
.Header__menu {
   padding: 0 20px 5px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   position: absolute;
   top:80px;
   right: 27px;
   font-size: var(--font-smallest);
   background-color: var(--white-color);
   box-shadow: 0 0px 10px 0 rgba(3, 36, 35, .25);
   border-radius: 10px;
   cursor: auto;
   visibility: hidden;
   opacity: 0;
   z-index: 100;
   @include size(220px, 170px);
   &::before {
      @include  icon-arrow(absolute, -20px, 49px, 10px, var(--white-color), 0);
   }
   li:nth-of-type(1) {
      @include size(initial, 70px);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-bottom: 1px solid rgba(3, 36, 35, .3);
      p:nth-of-type(1) {
         font-weight: 600;
      }
      p:nth-of-type(3) {
         opacity: .3;
      }
   }
   a {
      display: inline-block;
      text-decoration: none;
      @include size(100%, initial);
   }
   button {
      width: 180px;
      display: flex;
      justify-content: flex-start;
      position: relative;
      right: 5px;
      font-size: var(--font-smallest);
      color: var(--secundary-color);
      background-color: transparent;
      border: none;
      outline-color: var(--detail-color);
   }
   li:hover,
   button:hover  {
      color: var(--main-color);
      cursor: pointer;
   }

}
.Header__user:hover .Header__menu, .Header__menu:hover {
   visibility: visible;
   opacity: 1;
   animation: .5s fadeIn ease;
}
.Modal__loader  {
   position: absolute;
   z-index: 1800px;
   font-family: var(--font-title);
   font-size: var(--font-big);
   color: var(--white-color);

}
@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}