@import '../utils/Mixin.scss';
@import '../utils/Placeholder.scss';
@import '../components/RoleManage/AddRoleModal.scss';
// @import '../utils/ConfirmateModal.scss';

.Modal__overlay {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(3, 36, 35, .25);
   z-index: 1000;
}


.Modal {
   // Aquí vamos hacer un modal más generico para esos que son casí iguales
   // Por ahora hacemos el que estamos necesitanado
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(3, 36, 35, .25);

   &__container {
      position: relative;
      background-color: var(--white-color);
      padding: 1rem;
      width: 400px;
      text-align: center;
      @include size(530px, auto);
      border-radius: 20px;
   }

   &__close-button {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      border-radius: 0 20px 0 0;
      background-color: var(--secundary-color);
      color: var(--white-color);
      padding: 0.5rem 1rem;
      cursor: pointer;
   }

   img {
      width: 64px;
      height: 64px;
      text-align: center;
      margin-bottom: 21px;
   }

   h1 {
      margin: 0 0 14px 0;
      font-family: var(--font-title);
      font-size: var(--font-big);
      text-align: center;
   }

   &__radio {
      display: flex;
      justify-content: space-evenly;
      margin-top: 21px;
   }

   &__buttons {
      width: 100%;
      margin: 50px 0 0 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      @include btn(150px, 50px, --font-smaller)
   }

}

/* Validate Modals */