.isModalAddRole {
   width: 500px;
   height: 550px;
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   font-family: var(--font-title);
   background-color: white;
   border-radius: 5px 100px 5px 5px;
   h2 {
      margin: 0 0 50px 0;
      font-size: var(--font-big);
   }
   form {
      width: 350px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      i {
         color: red;
      }
      input,
      select {
         margin: 10px 0 0 0;
         padding: 0 0 0 10px;
         display: flex;
         border-radius: 5px;

         border: 1px solid  rgba(3, 36, 35, .25);
         outline-color: var(--secundary-color);
      }
      input {
         width: 290px;
         height: 40px;
      }
      label:nth-of-type(3) {
         position: relative;
      }
      select {
         width: 302px;
         height: 40px;
         background-color: var(--white-color);
         cursor: pointer;
         -webkit-appearance: none;
	      -moz-appearance: none;
         option:nth-of-type(1) {
            display: none;
         }
         &::-ms-expand {
            display: none;
         }
      }
      // Dropdown aún no funciona dandole click a la flecha, pero si desplega normal
      .Arrow {
         @include icon-arrow(absolute, 45px, 10px, 8px, var(--secundary-color), 180deg)
      }
      div {
         width: 300px;
         margin: 30px 0 0 0;
         display: flex;
         justify-content: space-between;
         .btn {
            @include btn(120px, 40px, --font-smallest)
         }
      }
   }
}


.isModalAddRole__close {
   width: 50px;
   height: 50px;
   padding: 7px 7px 0 0;
   position: absolute;
   top: 25px;
   right: 25px;
   font-size: var(--font-small);
   font-weight: 600;
   color: var(--white-color);
   background-color: var(--secundary-color);
   border-radius: 5px 100px 5px 5px;
   @extend %reset-btn;
}

.isModalCreate {
   width: 400px;
   height: 400px;
   background-color: red;
}