.Role__main {
   height: auto;
   padding: 30px 40px 20px 40px;
   position: relative;
   top: -150px;
   background-color: var(--white-color);
   border-radius: 5px 100px 5px 5px;
   box-shadow: 0 0 50px 0 rgba(3, 36, 35, .25);
}
.Role__btn-users {
   width: 400px;
   margin: 0 0 10px 0;
   display: flex;
   button {
      margin: 0 10px 0 0;
      @include btn(100px, 35px, --font-smallest);
   }
   p {
      margin: 5px 0 0 0;
      font-family: var(--font-title);
      font-size: var(--font-small);
   }
}
.Role__item-container {
   height:  400px;
   margin: 0 0 50px 0;
   padding: 10px;
   border-radius: 5px 50px 5px 5px;
   box-shadow: inset 0 0 5px 1px rgba(3, 36, 35, .10);
   overflow-y: scroll;
   a {
      display: flex;
      text-decoration: none;
   }
   &::-webkit-scrollbar {
      display: none;
   }
}
.Role__panel-ctrl {
   margin: 0 0 30px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   div {
      width: 130px;
      font-weight: 600;
      & > span {
         width: 300px;
         margin: 10px 0 0 10px;
         display: flex;
         align-items: center;
         span {
            width: 35px;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid var(--secundary-color);
            border-radius: 5px;
         }
         button {
            margin: 0 15px 0 15px;
            @include btn(40px, 40px, --font-big);
            border-radius: 50%;
         }
      }
   }
   button {
      @include btn(150px, 50px, --font-small);
   }
}