/*Variables-----Variables*/

:root {
   /*Color*/
   --main-color: #049ECA;
   --secundary-color: #03242D;
   --detail-color: #B5EBFA;
   --white-color: #fff;

   /*Colors actions*/
   --selection-color: #007EA3;
   --hover-color: #069AC5;

   /*Fonts*/
   --font-title: 'Oswald', Helvetica;
   --font-text: 'Lato', Helvetica;
   /*Fonts-size*/
   --font-smallest: 14px;
   --font-smaller: 16px;
   --font-small: 18px;
   --font-big: 30px;
}