@import '../../utils/Mixin.scss';
@import '../../utils/Placeholder.scss';

.ResetPass__container {
   display: grid;
   grid-template-columns: 500px 1fr;
   grid-template-areas: "Aside Slide";
}
.ResetPass__aside {
   height: 620px;
   position: relative;
   grid-area: Aside;
}

.ResetPass__form {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: -153px;
   background-color: var(--main-color);
   border-radius: 0 100px 0 0;
   @include size(500px, 680px);
   form {
      padding: 30px 50px;
      margin: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--white-color);
      border-radius: 5px 100px 5px 5px;
      @include size(430px, 500px);
   }
   i {
      color: red;
   }
   h2 {
      margin: 0 0 70px 0;
      font-family: var(--font-title);
      font-size: var(--font-big);
      text-align: center;
   }
   label {
      width: 100%;
      margin: 20px 0 0 0;
      font-family: var(--font-title);
      font-size: var(--font-small);
      & > input {
         width: 100%;
         height: 40px;
         margin: 5px 0 0 0;
         padding: 0 0 0 5px;
         display: flex;
         border: 1px solid rgba(3, 36, 35, .25);
         border-radius: 5px;
      }
   }
}
.ResetPass__buttons {
   width: 100%;
   margin: 60px 0 0 0;
   display: flex;
   justify-content: center;

   button {
      &[disabled] {
         opacity: .5;
      }
      @include btn(150px, 50px, --font-smaller);
   }
}
.ResetPass__redirect {
   margin: 30px 0 0 0;
   font-family: var(--font-text);
   text-align: center;
   a {
      font-family: var(--font-title);
      font-size: var(--font-small);
      text-decoration: none;
   }
}